/.cproject
/.project
/.settings/*
/MfgToolLib/cmake_install.cmake
/MfgToolLib/CMakeCache.txt
/MfgToolLib/CMakeFiles/
/TestPrgm/Profiles/
/MfgToolLib/libMfgToolLib.so
/TestPrgm/blobify.sh
/TestPrgm/cfg.ini
/TestPrgm/fe_production.sh
/TestPrgm/libMfgToolLib.so
/TestPrgm/MfgToolLibLog.txt
/TestPrgm/repair.sh
/TestPrgm/sim_dataio.sh
/TestPrgm/test_and_fuse.sh
/TestPrgm/UICfg.ini
/MfgToolLib/Makefile
